* {
    box-sizing: border-box;
    margin: 15px;
    }

    .wrapper {
    align-content: center; 
    }

    .welcome {
    text-align: center;
    padding: 40px;
    margin-top: 0px;
    }

    html {
    font-family: "Lucida Sans", sans-serif;
    }

    .header {
    background-color: rgb(56, 56, 56);
    color: #ffffff;
    padding: 1px;
    text-align: center;
    border-radius: 5px;
    }

    .search-input, 
    .label {
    margin-left: 20px;
    }

    .search-icon {
    width: 1px !important;
    height: 2px !important;
    }

    .day {
    font-size: 25px
    }

    #index {
    padding: 5px;
    border-radius: 5px;
    }

    .hide {
    display: none;
    }

    .footer {
    background-color: rgb(56, 56, 56);
    height: 50px;
    border-radius: 5px;
    }

    /* For mobile phones: */
    [class*="col-"] {
    width: 100%;
    }

    @media only screen and (min-width: 600px) {
    /* For tablets: */

    }
    @media only screen and (min-width: 768px) {
    /* For desktop: */

    }